@use "../style/breakpoints";
@use "../style/sizes";

.mainwrapper {
    position: absolute;
    inset: sizes.$header-height 0 0 0;
    transition: all 0.5s ease;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden auto;

    > main {
        flex-grow: 1;
    }

    @include breakpoints.from("large") {
        left: sizes.$menu-width;

        header + & {
            left: 0;
        }
    }
}
