@import "../../style/breakpoints";
@import "../../style/sizes";

.search-container {
    display: flex;
}

.search-button {
    width: $header-height;
    height: $header-height;
    padding: 0;
    background-color: transparent;
    background-image: url("./search.svg");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.search-field-wrapper {
    display: flex;
    flex-direction: row;
    line-height: 2rem;

    > span {
        padding: 0.25rem 0.75rem;
        background: var(--color-dark);
        color: var(--color-dark-contrast);
    }

    > input.search-field {
        flex-grow: 1;
        padding: 0.25rem 0.75rem;
        border: 1px solid var(--color-dark);
        background: white;
        color: black;
    }
}

.search-overlay {
    display: none;
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: var(--color-main);
    color: var(--color-main-contrast);
    z-index: 1;
    overflow: auto;
    box-shadow: -0.5rem 0px 0.75rem 0px var(--color-overlay);

    @include from("large") {
        left: auto;
        width: 30rem;
        border-left: 0.25rem solid var(--color-dark);
    }

    &.search-overlay-visible {
        display: block;
    }

    > h2 {
        border-bottom: 1px solid var(--color-main-contrast);
    }

    li {
        line-height: normal;
        padding: 0.25rem 0;

        > a {
            padding: 0.25rem;

            &:hover,
            &:focus {
                background: var(--color-highlight);
                color: var(--color-highlight-contrast);
                outline: none;
                box-shadow: none;
                text-decoration: none;
            }
        }
    }
}

.search-items {
    list-style: inherit;
}