@use "../../style/sizes";
@use "../../style/breakpoints";

.container {
    margin: 2rem auto;
    padding: 0 1rem;
    box-sizing: border-box;

    > * {
        flex-grow: 1;
    }

    @include breakpoints.from("small") {
        padding: 0 2rem;
        max-width: sizes.$content-width;
    }
}
